/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)  去除user agent stylesheet默认样式
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/*****reset***********************************************************************************/



/********************************header******************************************************/
body {
    background-color: #f6f6f6;
    line-height: 1.72222;

}


.container-fluid {
    min-width: 1100px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
}

/**放最后**/
.container {
    width: 1100px;
    max-width: 1280px !important;
}


/**注意顺序  从小到大**/
/* @media (min-width: 768px){
    .container {
        width: 750px;
    }
    .container-fluid {
        min-width: 100% !important;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }

}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
} */


.container {
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto; /**水平保持居中 0 auto** /
    /* background-color:red;  */
}
/***创建bfc 清除浮动 浮动元素计入高度将页面撑开**/
.container{
    display: table;
    content: " ";
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wenku-logo {
    height: 60px;
    margin: 10px 0px;
}



.searchInput:focus {
    outline:none;
    border: 2px solid #1ABC9C;
}

.searchInput::-webkit-input-placeholder { /* WebKit browsers */
    /* placeholder颜色  */
    color: #B2BCC9;
     /* placeholder字体大小  */
    font-size: 17px;
    /* placeholder位置  */
    text-align: left;
}
.searchInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    /* placeholder颜色  */
    color: #B2BCC9;
     /* placeholder字体大小  */
    font-size: 17px;
}
.searchInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    /* placeholder颜色  */
    color: #B2BCC9;
     /* placeholder字体大小  */
    font-size: 17px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    /* placeholder颜色  */
    color: #B2BCC9;
     /* placeholder字体大小  */
    font-size: 17px;
}
.searchInput {
    width: 81%;
    height: 45px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* outline: 2px solid #1ABC9C; */
    padding: 10px 15px;
    font-size: 17px;
    line-height: 45px;
    color: #34495e;
    border: 2px solid #bdc3c7; /*输入框边框颜色*/
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}

.searchButton{
    /* width: 100%; */
    margin-left: -2px;
    padding: 10px 15px;
    height: 45px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    color: #fff;/*检索按钮颜色*/
    background-color: #bdc3c7;
    outline:none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    /* vertical-align: middle; */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

}
/********************************header******************************************************/

/********************************navbar******************************************************/


.nav-container{
    min-width: 1100px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #34495E; /**导航颜色--黑色**/
    border-radius: 0px;
    margin-bottom: 15px;
    min-height: 53px;
    font-size: 16px;
    border: none;
}


.ant-menu-horizontal {
    border: 0;
    box-shadow: none;
    line-height: 54.4px;
    white-space: nowrap;
}


.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover,.ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open{
    border-bottom: none; 
    color: #1ABC9C; 
    background-color:transparent; 
     /**导航菜单移入时的字体颜色 --绿色**/
}
.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: none; 
    /* color: white; 
    background-color:#1ABC9C; */
}

/*下拉菜单...绿色*/
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
    color: #1ABC9C; 
}


.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    position: relative;
    top: 0px;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: none;
    margin-top: -1px;
    padding: 0 24px; /*菜单间距*/
}



.ant-menu {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;/*导航菜单字体大小*/
    font-weight: 700;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: white; 
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    box-shadow: none;
    background: transparent;
    transition: background .3s, width .2s;
    zoom: 1;
}


.ant-menu-submenu > .ant-menu {
    background-color: #34495E; 
    margin: -8px 18px 19px -24px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
} 


.ant-menu-horizontal.ant-menu-sub, .ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub {
    min-width: 104px;
}

/*子菜单颜色*/
.ant-menu-item-selected ,.ant-menu-item:hover {
    color: #1ABC9C;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    padding: 0 22px;
    font-size: 14px;
    /* line-height: 40px;
    height: 40px; */
    margin: 0px 0px 4px 0px;
    /* margin-bottom: 4px; */
    overflow: hidden;
    text-overflow: ellipsis;
}


.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 4px;
}

/* 下拉菜单白色背景问题 */
.ant-menu-submenu-popup {
    position: absolute;
    border-radius: 4px;
    z-index: 1050;
    left: 835.825px;
    top: 130px;
    background-color: transparent; 
}

/********************************navbar******************************************************/


/********************************swiper******************************************************/
.swiper-container{
    position: relative;
}

/*********左右滑动*********/
.toRight-enter {
    position: absolute;
    top: 0;
    right: 100%;
}
  
.toRight-enter-active {
    box-shadow: 0 0 -5px #ccc;
    top: 0;
    right: 0;
    transition: all .3s ease-in-out;
}
  
.toRight-exit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.toRight-exit-active {
    box-shadow: 0 0 -5px #ccc;
    top: 0;
    right: -100%;
    transition: all .3s ease-in-out;
}


.toLeft-enter {
    position: absolute;
    top: 0;
    left: 100%;
}

.toLeft-enter-active {
    box-shadow: 0 0 -5px #ccc;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

.toLeft-exit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.toLeft-exit-active {
    box-shadow: 0 0 -5px #ccc;
    top: 0;
    left: -100%;
    transition: all .3s ease-in-out;
}

/*********渐入渐出*********/
.fade-enter {
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
}

.fade-enter-active {
    opacity:1;
    transition: all .3s ease-in-out;
}

.fade-enter-done {
    position: absolute;
    top: 0;
    left: 0;
    opacity:1;
}

.fade-exit {
    position: absolute;
    top: 0;
    left: 0;
    opacity:1;
    z-index: 10;
}

.fade-exit-active {
    opacity:0;
    transition: all .3s ease-in-out;
}

.fade-exit-done {
    /* position: absolute;
    top: 0;
    left: 0;
    :1; */
}
/********************************swiper******************************************************/

/********************************userInfo***************************************************/

.user-wrap {
    padding-left: 15px;
    /* background-color : red; */

}

.panel {
    background-color : white;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-bottom: 15px;
    font-size: 16px;
}

/**登录输入框**/
.login-input::-webkit-input-placeholder { 
    color: #B2BCC9;
    font-size: 15px;  
    text-align: left;
}
.login-input:-moz-placeholder { 
    color: #B2BCC9;
    font-size: 15px;
}
.login-input::-moz-placeholder {        
    color: #B2BCC9;
    font-size: 15px;
}
:-ms-input-placeholder { 
    color: #B2BCC9;
    font-size: 15px;
}


/********************************userInfo***************************************************/


/********************************ClassifyBar*******************************************************/
.classifybar-container {
    padding: 15px;
    margin-bottom: 15px; 
    background: white;
}

/********************************ClassifyBar*******************************************************/



/********************************Classifycard*******************************************************/
.ant-card-head {
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    border-radius: 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
    font-size: 16px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    line-height: 1.72222;
    color: #333;
    font-weight: 500;

}


.ant-card-head-title {
    padding: 10px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1;
    display: inline-block;
}

.ant-card-body {
    padding: 15px;
    zoom: 1;
}


.text-ellipsis {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: -3px;
}

a {
    color: #555;
    cursor: pointer;
    
}

/********************************Classifycard*******************************************************/




/********************************footer*******************************************************/
.footer {
    background-color: #FFFFFF;
    padding: 30px;
}



.footer-dark{


    background-color: #666;
    color: #FFFFFF;
    padding: 40px;
}

/********************************footer*******************************************************/